.border{
    border: 2px solid red;
    margin: 3px;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.invert{
    filter: invert(1);
}
.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}


/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 10px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #121212; /* dark background for the track */
}

::-webkit-scrollbar-thumb {
  background: #444; /* thumb color */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666; /* lighter on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #444 #121212; /* thumb color, track color */
}
